@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-custom-gradient;
	min-height: 100vh;
	background-attachment: fixed;
}

.shadow-top {
	box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
		0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}
