@tailwind base;
@tailwind components;
@tailwind utilities;


.shadow-top {
	box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
		0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

.scrollbar-thin {
	scrollbar-width: thin;
}

.scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
	background-color: #6b7280;
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: content-box;
	transition: background-color 0.3s ease;
}

.scrollbar-thumb-gray-500::-webkit-scrollbar-thumb:hover {
	background-color: #4b5563;
}

.scrollbar-track-gray-700::-webkit-scrollbar-track {
	background-color: #374151;
	border-radius: 10px;
}

@keyframes spin-reverse {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes slideIn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.side-nav {
	animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}

.side-nav-out {
	animation: slideOut 0.3s ease-in forwards;
}

.animate-spin-reverse {
	animation: spin-reverse 1s linear infinite;
}
